<header class="header">
    <div class="header-links">
        <div class="extra_layout">
            <div class="extra_box">
                <div class="extra_item text pull-left">free online typing tutor.</div>

                <a class="extra_item text topRetrievedMenu">
                    <i class="fa fa-bars"></i>
                </a>
                <div id="TopExtraNav" class="pull-right">
                    
                    <a href="/student/login" class="extra_item text">Preferences</a>
                    <a class="extra_item text">|</a>
                    <a href="/student/login" class="extra_item text">Login</a>
                    <a href="/student/signup/" class="extra_item text">Sign up</a>

                </div>
            </div>
        </div>
    </div>
    <div class="header-menu">
        <div class="menu_layout">
            <div class="menu-box">

                <div class="logo-box">

                    <a href="/" title="Bicheech">
                        <div class="logo"></div>
                    </a>
                    <a class="extra_item text mainRetrievedMenu">
                        <i class="fa fa-bars"></i>
                    </a>
                    <div id="MainNav" class="sf-menu">
                        <ul>
                            <!-- <li class="current-menu-item">
                                <a routerLink="/student/lessons" routerLinkActive="active">Lessons</a>
                            </li> -->
                            <li>
                                <a routerLink="/student/tests" routerLinkActive="active">Tests</a>
                            </li>
                            <!-- <li>
                                <a routerLink="/student/games" routerLinkActive="active">Games</a></li>
                            <li>
                                <a href="#">Statistics</a>
                            </li>
                            <li>
                                <a href="/student/upgrade/" title="Remove ads" class="removezaren"></a>
                            </li> -->
                        
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<router-outlet></router-outlet>