<header class="header">
    <div class="header-links">
        <div class="extra_layout">
            <div class="extra_box">
                <div class="extra_item text pull-left">free online typing tutor.</div>

                <a class="extra_item text topRetrievedMenu">
                    <i class="fa fa-bars"></i>
                </a>
                <div id="TopExtraNav" class="pull-right">
                    
                    <a href="/student/login" class="extra_item text">Preferences</a>
                    <a class="extra_item text">|</a>

                        <div *ngIf="getAccount() == true; then thenBlock else elseBlock"></div>
                        <ng-template #thenBlock><a href="/student/login" class="extra_item text">logout</a></ng-template>
                        <ng-template #elseBlock>
                            <a href="/student/login" class="extra_item text">Login</a>
                            <a href="/student/signup/" class="extra_item text">Sign up</a>
                        </ng-template>

                </div>
            </div>
        </div>
    </div>
    <div class="header-menu">
        <div class="menu_layout">
            <div class="menu-box">

                <div class="logo-box">

                    <a href="/" title="Bicheech">
                        <div class="logo">
                            <svg width="168" height="41" xmlns="http://www.w3.org/2000/svg">
                                <g>
                                 <rect fill="none" id="canvas_background" height="43" width="170" y="-1" x="-1"/>
                                 <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
                                  <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%"/>
                                 </g>
                                </g>
                                <g>
                                 <text id="bicheech" font-weight="bold" xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="24" id="svg_1" y="28.9375" x="4.5" stroke-width="0" stroke="#000" fill="#25c6d0">Bicheech</text>
                                 <text id="dotcom" font-weight="normal" xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="24" id="svg_2" y="28.9375" x="110.5" stroke-width="0" stroke="#000" fill="#000000">.com</text>
                                </g>
                               </svg>
                        </div>
                    </a>
                    <a class="extra_item text mainRetrievedMenu">
                        <i class="fa fa-bars"></i>
                    </a>
                    <div id="MainNav" class="sf-menu">
                        <ul>
                            <!-- <li class="current-menu-item">
                                <a routerLink="/student/lessons" routerLinkActive="active">Lessons</a>
                            </li> -->
                            <li>
                                <a routerLink="/student/tests" routerLinkActive="active">Tests</a>
                            </li>
                            <!-- <li>
                                <a routerLink="/student/games" routerLinkActive="active">Games</a></li>
                            <li>
                                <a href="#">Statistics</a>
                            </li>
                            <li>
                                <a href="/student/upgrade/" title="Remove ads" class="removezaren"></a>
                            </li> -->
                        
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<router-outlet></router-outlet>