<div class="container super">
    <div class="top-zar">Top zariin sambar</div>
    <div class="left-zar">xajuugiin zariin sambar</div>
    <div class="content">
        <section class="lang_widget">
            <ul>
                <li class="active">
                    <article>
                        <div class="flagEn">
                        </div>
                        <div class="accordion-item">
                            <h2>
                            <a class="lang-course" (click)="getLessons('ENGLISH')">English course</a>
                            </h2>
                        </div>
                    </article>
                </li>
                <li>
                    <article>
                        <div class="flagMn">
                        </div>
                        <div class="accordion-item">
                            <h2>
                                <a class="lang-course" (click)="getLessons('MONGOLIAN')">Mongolian course</a>
                            </h2>
                        </div>
                    </article>
                </li>
            </ul>
        </section>

        <section class="widget_accordion">
            <ul>
                <li *ngFor="let category of cateroties">
                    <article>
                        <div class="button">
                            <span>+</span>
                            <span>-</span>
                        </div>
                        <div class="accordion-item">
                            <h2>
                                <a class="lang-course" (click)="getLessons('MONGOLIAN')">
                                    <label>{{ category.enTitle }}</label>
                                    <span class="course-status">100% Completed</span>
                                    <span class="start-link">Эхлэх »</span>
                                </a>
                            </h2>
                        </div>
                        <div class="item-container" style="display: block;">
                            <ul>                                     
                                <li class="active">
                                    <a href="/en/student/english/1/316/">
                                        <label>The Home Row Keys</label>
                                        <span class="lesson-status">
                                            <b>Completed!</b>
                                            123
                                            WPM / 100% Accuracy                                                              
                                        </span>
                                        <span class="start-btn">Үргэлжлүүлэх »</span>
                                    </a>
                                </li>                                                
                                <li class="">
                                    <a href="/en/student/english/1/317/">The Top Row Keys
                                        <span class="start-btn">begin »</span>
                                    </a>
                                </li>
                                <li *ngFor="let lesson of category.lessons">
                                    <a>
                                        {{ lesson.enTitle }}
                                        <span class="start-btn">begin »</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </article>
                    
                </li>
            </ul>
        </section>

    </div>
</div>


<p>tests works!</p>


<h1>Take a Free Typing Test</h1>
<p>Take our online Typing Test for free! We offer a one minute typing test, three minute typing test, and five minute typing test, that you can take as many times as you like, and see your typing speed improve over time!</p>

<h3>Timed Tests</h3>

<a routerLink="/student/typing-test/1-minute" routerLinkActive="active">1:00 Test</a>
<br/>
<a routerLink="/student/typing-test/3-minute" routerLinkActive="active">3:00 Test</a>
<br/>
<a routerLink="/student/typing-test/5-minute" routerLinkActive="active">5:00 Test</a>
<br/>
<br/>
<br/>

<h3>Page Tests</h3>
<a routerLink="/student/typing-test/1-page" routerLinkActive="active">1 Page Test</a>
<br/>
<a routerLink="/student/typing-test/2-page" routerLinkActive="active">2 Page Test</a>
<br/>
<a routerLink="/student/typing-test/3-page" routerLinkActive="active">3 Page Test</a>