<div class="container">
    <div class="top-zar">Top zariin sambar</div>
    <div class="left-zar">xajuugiin zariin sambar</div>
    <div class="content">ene gol aguulga ne bn</div>
</div>


<p>tests works!</p>


<h1>Take a Free Typing Test</h1>
<p>Take our online Typing Test for free! We offer a one minute typing test, three minute typing test, and five minute typing test, that you can take as many times as you like, and see your typing speed improve over time!</p>

<h3>Timed Tests</h3>

<a routerLink="/student/typing-test/1-minute" routerLinkActive="active">1:00 Test</a>
<br/>
<a routerLink="/student/typing-test/3-minute" routerLinkActive="active">3:00 Test</a>
<br/>
<a routerLink="/student/typing-test/5-minute" routerLinkActive="active">5:00 Test</a>
<br/>
<br/>
<br/>

<h3>Page Tests</h3>
<a routerLink="/student/typing-test/1-page" routerLinkActive="active">1 Page Test</a>
<br/>
<a routerLink="/student/typing-test/2-page" routerLinkActive="active">2 Page Test</a>
<br/>
<a routerLink="/student/typing-test/3-page" routerLinkActive="active">3 Page Test</a>