<div id="wrapper">
    <header>
        <div id="logo">
            <a routerLink="/randompasswordgenerate/index" routerLinkActive="active"><span>R</span><span>P</span><span>G</span></a>
        </div>
        
        <div id="lang">
            <div class="dropdown" style="float:right;">
                <span>
                    <div class="arrow"></div>
                </span>
                <div class="dropdown-content">
                    <a href="#"> Mongolia</a>
                    <a href="#"> English</a>
                </div>
            </div>
        </div>

        
        <div class="big-yellow-circle"></div>
    </header>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
    <footer>
        <p class="textcenter">
            <a routerLink="/randompasswordgenerate/index" routerLinkActive="active" i18n>Home</a>
            <a routerLink="/randompasswordgenerate/cookies-policy" routerLinkActive="active" i18n>Cookies Policy</a>
            <a routerLink="/randompasswordgenerate/privacy-policy" routerLinkActive="active" i18n>Privacy Policy</a>
        </p>
        <p class="textcenter" style="color:black">RandomPasswordGenerator.org</p>			
        <p class="textcenter" style="color:black">Copyright ©2019</p>
    </footer>
</div>