<div class="register-box">


<div class="panel panel-default">
    <div class="panel-body">


<h4>Don't have an account?</h4>

<p class="lead">No problem! <strong>Bicheech.com is free!</strong></p>

<form class="form-container" [formGroup]="regForm" (ngSubmit)="onSubmit($event)">
   
    <x-input formControlName="username" fieldType="text" fieldName="username" [parentForm]="regForm" formLabel="Username"></x-input>
    
    <x-input formControlName="email" fieldType="email" fieldName="email" [parentForm]="regForm" formLabel="Email"></x-input>
    
    <x-input formControlName="password" fieldType="password" fieldName="password" [parentForm]="regForm" formLabel="Password"></x-input>
    
    <x-input formControlName="re_password" fieldType="password" fieldName="re_password" [parentForm]="regForm" formLabel="Repassword"></x-input>

    <x-button text="Create Account" type="submit" [parentForm]="regForm"></x-button>
</form>

<pre>
    {{regForm.value | json}}
</pre>
<p>Form Status: {{ regForm.status }}</p>


</div>
</div>
</div>
