.login-box{

}
.register-box{
    background-color: #d7d7d7;
    padding: 15px;
}
.teacherCallout {
    clear: both;
    background: #d9edf7 url(../../../../assets/typing/images/apple.png) no-repeat 12px 8px;
    margin-top: 10px;
    float: left;
    padding: 10px 30px 10px 60px;
    line-height: 18px;
    font-size: 13px;
    width: 100%;
}