<p>racewithfriends works!</p>

<a (click)="open()">invite people</a>

<button (click)="start()" *ngIf="!dialogStart && !timeIsRunning">join race</button>

<button (click)="leave()" *ngIf="timeIsRunning">leave race</button>

<div class="typing-container super">
  <div class="container-main">

    <ng-template [ngIf]="lessons && timeIsRunning">

      <div class="typing-box">
        <div class="typing-text">
      
          <form [formGroup]="formGroup" (keyup.space)="onSpace()" (keyup.backspace)="onBackspace()">
              <div class="line-break">
                <span class="word-{{currentWord}}" *ngFor="let word of words, let currentWord = index">
                  <span [ngClass]="{'letter-right': this.typingProcess[currentWord].letters[index] === true,
                  'letter-wrong': this.typingProcess[currentWord].letters[index] === false,
                'letter': true}"
                        *ngFor="let letter of getLetters(word); let index = index">{{letter}}</span>
                </span>
                <input autofocus type="text" autocomplete="off" formControlName="wrote" class="inp_text" (blur)="getbackfocus($event)" placeholder="Type the above text here when the race begins"/>
              </div>
          </form>

        </div>
      </div>

    </ng-template>
</div>
</div>

<table cellspacing="10" style="width: 100%;" class="chatView" >
    <colgroup>
      <col>
      <col width="150px">
    </colgroup>
    <tbody>
      <tr>
        <td>
          <div class="chatSectionTitle">Chat</div>
        </td>
        <td>
          <div class="chatSectionTitle">Who's here</div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="messagesPanel" style="overflow: auto; position: relative; zoom: 1; width: 100%;">
            <div style="position: relative; zoom: 1;">
              <div>
                <div class="message" *ngFor="let item of messages">
                  <div class="gwt-Label"></div>
                  <div class="systemMessage"> {{getMessage(item)}}</div>
                </div>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="users-list">
            <table cellspacing="0" cellpadding="0">
              <tbody>
                <tr *ngFor="let item of members">
                  <td align="left" style="vertical-align: top;">
                    <div class="userNameLabel userNameLabel-self" style="white-space: nowrap;">{{getUsername(item)}} 
                      <ng-template [ngIf]="isMe(item)">(you)</ng-template>
                      
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <input type="text" name="message" [(ngModel)]="message" placeholder="Enter message" class="AdvancedTextBox txtChatMsgInput AdvancedTextBox-unfocused" maxlength="500" onsubmit="sendPrivateMessage()">
        </td>
        <td>
          <button type="button" class="send-btn" (click)="sendPrivateMessage()" clickable>Send</button>
        </td>
      </tr>
    </tbody>
  </table>

  <app-dialog [isClose]="dialogUrlRoom">
    <div class="pillar">
        <h2 class="">Invite people to this racetrack</h2>
    </div>
    <p class="">Give this URL to the people you want to invite (valid for 24 hours):</p>
    
    <p class="roomUrlBox"><input type="text" value="{{ getBaseUrl() +'/?id=' + roomId}}"/></p>

    <a href="/student/tests">Copy this URL</a> <a href="/student/tests">Email this URL</a>
    <div class="">
        <button class="btn" data-tooltip="Tip: Press ENTER to continue" (click)="close()">OK</button>
    </div>
  </app-dialog>


  <app-dialog [isClose]="dialogStart" [hasBgLayout]="false">
    <p class="">{{startStr}}</p>
  </app-dialog>
